{% extends 'base.html' %}
{% load static %}

{% block page_title %} 
    Form Page
{% endblock %}


{% block content %}
<div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
              <a class="navbar-brand" href="javascript:void()">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home Page</a>
                  </li>
              </div>
            </div>
        </nav>
    </div>
</div>
<h2> Post form </h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-label">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
            <br>
        {% endfor %}
        <button type="submit">submit</button>
    </form>

{% endblock %}